
@{
    ViewBag.Title = "Autoevaluacion";
}
<center>
    <h2>Autoevaluacion</h2>
</center>

<ul id="menu" style="margin-left:20%">
    <li>
        <input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">EJE 1. Fundamentos y condiciones de operación</label>
        <ul class="interior">
            <li>
                <input type="checkbox" name="list" id="nivel2-1"><label for="nivel2-1">Categoría 1. Propósitos del programa Misión y visión</label>
                <ul class="interior">
                    <li><a href="#r">1.1.1 Misión y visión del programa</a></li>
                    <li><a href="#r">1.1.2 Fundamentación de la necesidad del programa</a></li>
                    <li><a href="#r">1.1.3 Plan de desarrollo del programa</a></li>
                    <li><a href="#r">1.1.4 Perfil de ingreso</a></li>
                    <li><a href="#r">1.1.5 Perfil de egreso</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-2"><label for="nivel2-2">Categoría 2. Condiciones generales de operación del programa</label>
                <ul class="interior">
                    <li><a href="#r">1.2.1 Registro oficial del programa</a></li>
                    <li><a href="#r">1.2.2 Marco normativo institucional</a></li>
                    <li><a href="#r">1.2.3 Matrícula total y de primer ingreso</a></li>
                    <li><a href="#r">1.2.4 Presupuesto/recursos del programa</a></li>
                    <li><a href="#r">1.2.5 Estructura organizacional para operar el programa</a></li>
                    <li><a href="#r">1.2.6 Integridad</a></li>
                    <li><a href="#r">1.2.7 Ambiente académico</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <input type="checkbox" name="list" id="nivel1-2"><label for="nivel1-2">EJE 2. Currículo específico y genérico</label>
        <ul class="interior">
            <li>
                <input type="checkbox" name="list" id="nivel2-3"><label for="nivel2-3">Categoría 3. Modelo educativo y plan de estudios</label>
                <ul class="interior">
                    <li><a href="#r">2.3.1 Modelo educativo</a></li>
                    <li><a href="#r">2.3.2 Plan de estudios</a></li>
                    <li><a href="#r">2.3.3 Mapa curricular</a></li>
                    <li><a href="#r">2.3.4 Asignaturas o unidades de aprendizaje</a></li>
                    <li><a href="#r">2.3.5 Tecnología educativa y de la información para el aprendizaje</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-4"><label for="nivel2-4">Categoría 4. Actividades para la formación integral</label>
                <ul class="interior">
                    <li><a href="#r">2.4.1 Cursos o actividades complementarios para la formación integral </a></li>
                    <li><a href="#r">2.4.2 Enseñanza de otras lenguas extranjeras</a></li>
                    <li><a href="#r">2.4.3 Certificaciones externas de los estudiantes</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <input type="checkbox" name="list" id="nivel1-3"><label for="nivel1-3">EJE 3. Tránsito de los estudiantes por el programa</label>
        <ul class="interior">
            <li>
                <input type="checkbox" name="list" id="nivel2-5"><label for="nivel2-5">Categoría 5. Proceso de ingreso al programa</label>
                <ul class="interior">
                    <li><a href="#r">3.5.1 Estrategias de difusión, promoción y orientación del programa</a></li>
                    <li><a href="#r">3.5.2 Procedimiento de ingreso de los aspirantes al programa </a></li>
                    <li><a href="#r">3.5.3 Actividades de bienvenida e inducción para estudiantes de nuevo ingreso</a></li>
                    <li><a href="#r">3.5.4 Programas de regularización, acciones de nivelación o apoyo </a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-6"><label for="nivel2-6">Categoría 6. Trayectoria escolar</label>
                <ul class="interior">
                    <li><a href="#r">3.6.1 Control del desempeño de los estudiantes dentro del programa  </a></li>
                    <li><a href="#r">3.6.2 Movilidad e intercambio de estudiantes</a></li>
                    <li><a href="#r">3.6.3 Servicios de tutoría </a></li>
                    <li><a href="#r">3.6.4 Servicios de orientación y asesoría en apoyo al aprendizaje</a></li>
                    <li><a href="#r">3.6.5 Prácticas profesionales, estancias y visitas en el sector productivo </a></li>
                    <li><a href="#r">3.6.6 Reconocimiento a los estudiantes de alto desempeño </a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-7"><label for="nivel2-7">Categoría 7. Egreso del programa</label>
                <ul class="interior">
                    <li><a href="#r">3.7.1 Programa de titulación u obtención del grado </a></li>
                    <li><a href="#r">3.7.2 Eficiencia terminal</a></li>
                    <li><a href="#r">3.7.3 Eficiencia en la titulación u obtención del grado</a></li>
                    <li><a href="#r">3.7.4 Servicio social</a></li>
                    <li><a href="#r">3.7.5 Vínculo egresado – institución </a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-8"><label for="nivel2-8">Categoría 8. Resultados de los estudiantes</label>
                <ul class="interior">
                    <li><a href="#r">3.8.1 Resultados en exámenes de egreso externos a la institución </a></li>
                    <li><a href="#r">3.8.2 Nivel de dominio de otras lenguas</a></li>
                    <li><a href="#r">3.8.3 Participación de estudiantes en concursos, competiciones, exhibiciones y presentaciones, nacionales o internacionales</a></li>
                    <li><a href="#r">3.8.4 Desempeño de los egresados </a></li>
                    <li><a href="#r">3.8.5 Empleabilidad / Opinión de los empleadores </a></li>
                    <li><a href="#r">3.8.6 Cumplimiento del perfil de egreso </a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <input type="checkbox" name="list" id="nivel1-4"><label for="nivel1-4">EJE 4. Personal académico, infraestructura y servicios</label>
        <ul class="interior">
            <li>
                <input type="checkbox" name="list" id="nivel2-9"><label for="nivel2-9">Categoría 9. Personal académico</label>
                <ul class="interior">
                    <li><a href="#r">4.9.1 Composición actual del cuerpo docente</a></li>
                    <li><a href="#r">4.9.2 Mecanismo de ingreso, promoción y permanencia al programa como docente  </a></li>
                    <li><a href="#r">4.9.3 Superación disciplinaria y habilitación académica </a></li>
                    <li><a href="#r">4.9.4 Movilidad de profesores </a></li>
                    <li><a href="#r">4.9.5 Evaluación y reconocimiento del personal académico </a></li>
                    <li><a href="#r">4.9.6 Producción académica para el programa</a></li>
                    <li><a href="#r">4.9.7 Formas de organización para el trabajo académico </a></li>
                    <li><a href="#r">4.9.8 Líneas de generación, aplicación del conocimiento, y su transferencia al programa</a></li>
                    <li><a href="#r">4.9.9 Articulación de la investigación con la docencia</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-10"><label for="nivel2-10">Categoría 10. Infraestructura académica (énfasis en la específica del programa)</label>
                <ul class="interior">
                    <li><a href="#r">4.10.1 Aulas y espacios para la docencia, y su equipamiento </a></li>
                    <li><a href="#r">4.10.2 Laboratorios y talleres específicos para la realización de prácticas, y su equipamiento </a></li>
                    <li><a href="#r">4.10.3 Otras instalaciones fuera de la sede</a></li>
                    <li><a href="#r">4.10.4 Biblioteca </a></li>
                    <li><a href="#r">4.10.5 Espacios destinados para profesores </a></li>
                    <li><a href="#r">4.10.6 Espacios para encuentros académicos y/o culturales</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-11"><label for="nivel2-11">Categoría 11. Infraestructura física </label>
                <ul class="interior">
                    <li><a href="#r">4.11.1 Infraestructura física del lugar donde se imparte el programa</a></li>
                    <li><a href="#r">4.11.2 Agua potable y servicios sanitarios</a></li>
                    <li><a href="#r">4.11.3 Conservación y mantenimiento de instalaciones y equipo</a></li>
                    <li><a href="#r">4.11.4 Seguridad de personas y bienes</a></li>
                    <li><a href="#r">4.11.5 Áreas de deporte, recreación y convivencia</a></li>
                    <li><a href="#r">4.11.6 Conectividad</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="list" id="nivel2-12"><label for="nivel2-12">Categoría 12. Servicios de apoyo</label>
                <ul class="interior">
                    <li><a href="#r">4.12.1 Administración escolar </a></li>
                    <li><a href="#r">4.12.2 Servicios de bienestar estudiantil</a></li>
                    <li><a href="#r">4.12.3 Becas y apoyos estudiantiles</a></li>
                    <li><a href="#r">4.12.4 Orientación para el tránsito a la vida profesional </a></li>
                    <li><a href="#r">4.12.5 Servicio de transporte</a></li>
                    <li><a href="#r">4.12.6 Servicio de cafetería </a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>